
dotnetmongo/api/bin/Debug/net5.0/api
dotnetmongo/api/bin/Debug/net5.0/api.deps.json
dotnetmongo/api/bin/Debug/net5.0/api.dll
dotnetmongo/api/bin/Debug/net5.0/api.pdb
dotnetmongo/api/bin/Debug/net5.0/api.runtimeconfig.dev.json
dotnetmongo/api/bin/Debug/net5.0/api.runtimeconfig.json
dotnetmongo/api/bin/Debug/net5.0/appsettings.Development.json
dotnetmongo/api/bin/Debug/net5.0/appsettings.json
dotnetmongo/api/bin/Debug/net5.0/DnsClient.dll
dotnetmongo/api/bin/Debug/net5.0/Microsoft.OpenApi.dll
dotnetmongo/api/bin/Debug/net5.0/MongoDB.Bson.dll
dotnetmongo/api/bin/Debug/net5.0/MongoDB.Driver.Core.dll
dotnetmongo/api/bin/Debug/net5.0/MongoDB.Driver.dll
dotnetmongo/api/bin/Debug/net5.0/MongoDB.Libmongocrypt.dll
dotnetmongo/api/bin/Debug/net5.0/SharpCompress.dll
dotnetmongo/api/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
dotnetmongo/api/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
dotnetmongo/api/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
dotnetmongo/api/bin/Debug/net5.0/ref/api.dll
dotnetmongo/api/bin/Debug/net5.0/runtimes/win/native/libzstd.dll
dotnetmongo/api/bin/Debug/net5.0/runtimes/win/native/snappy32.dll
dotnetmongo/api/bin/Debug/net5.0/runtimes/win/native/snappy64.dll
dotnetmongo/api/obj/Debug/net5.0/api.csprojAssemblyReference.cache
